<section class="searchbar-wrapper">
    <form class="searchbar" action="">
        <input class="inputbox" type="text" placeholder="Search News..">
        <i class="fas fa-search search-logo"></i>
    </form>
</section>