.searchbar-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.inputbox {
    background-color: rgb(238, 237, 237);
    border: none;
    width: 21.5em;
    height: 2.8em;
    outline: none;
    padding: 0 0 0 1em;
    color: gray;
    border-radius: 5px;
}

.searchbar {
    background-color: rgb(238, 237, 237);
    width: 21.5em;
    height: 2.8em;
    border-radius: 5px;
}

.search-logo {
    color: gray;
}